<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/multicloud.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
            <p>This app was created by darique warren using data from mapcode.com and weatherstack.com</p>
    <img class="portrait" src="/img/tracy-morgan-stubborn2.jpg" alt="">

    </div>    
    
    
    
    {{>footer}}
  
</body>

</html>