<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/multicloud.png">
    <link rel="stylesheet" href="./css/styles.css">
    
</head>

<body>
    <div class="main-content">
       {{>header}} 
       <p>use this site to get weather</p>
    </div>
    

    {{>footer}} 
    
    
</body>

</html>