<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <img src="/img/tracy-morgan-stubborn.jpg" alt="">
    <br><p>Created By {{name}}</p>
    <img src="/img/tracy-morgan-stubborn2.jpg" alt="">
    
</body>

</html>